<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content">
  <div class="background-blue"></div> <!-- Div para el fondo azul -->
  <div class="restablecer-container shadow-box">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="recuperar()">RECUPERAR</ion-button>
  </div>
</ion-content>
